# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\eclipse-workspace\kafka-java-entegration-sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
